<h1>Welcome to LOLcats</h1>
<a href="https://twitter.com/moonmage2"> Click me! </a>
<form action ="someotherpage.html"
	 method="post">
	<input type="text" name="a_field" />
	<input type="submit"
		  value="A Button!" />
</form>

